<div id="particles-js"></div>
<title>InSpecIT Inc.</title>
<header class="masthead text-center text-white d-flex">
      
      <div class="container my-auto">

        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1>
              <strong><label class ="unselectable">InSpecIT Inc.</label></strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Integration Specialist in Instrumentation Technology</p>
            <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-2x fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about" style="min-height: 400px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-black">Who are We?</h2>
            <hr class="primary my-4">
            <p class="text-test mb-4">We specialize in Marine Control Instruments Calibration and Power Systems. We are a Panel Builder providing Supply, Installation, Testing and Commissioning of Motor Controls, ATS, Synchronizing Panels, Load Sharing and Load Shedding Controls, Switchgears and all other Electrical Automation.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="about">Learn More!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services"style="height: 600px;">
      <div class="container" >
        <div class="row" >
          <div class="col-lg-12 text-center text-white" >
            <h2 class="section-heading" >Industries</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-4 text-center text-white">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-ship text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Marine and Offshore</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-4 text-center text-white">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-building text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Building Management</h3>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-4 text-center text-white">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-cogs text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Automation</h3>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-xs-4 text-center text-white">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-sun text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Renewable Energy</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4 text-center text-white"> 
            <div class="service-box mt-5 mx-auto">

              <a class="btn btn-light btn-xl js-scroll-trigger" style="margin-top: 70px;" href="services">Find More!</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4 text-center text-white"> 
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-industry text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Industrial Power Plant</h3>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section class="p-0 bg-test" id="news" style="height: 1200px;">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 text-center text-black"style="margin-top: 50px; margin-bottom: 40px;">
            <h2 class="section-heading">News</h2>
            <hr class="featurette-divider">
          </div>
        </div>
      </div>
    
      <div class="container">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">PHILMARINE EXPO 2018 </h2>
            <p class="lead">Join us, as InSpecIT, Inc. showcase our latest technology and services at the 5th PHILMARINE EXPO 2018 on June 27-29, 2018. Visit us at SMX Convention Center, Manila, Mall of Asia Complex, Pasay City, Philippines along with tons of guests, businessmen, exhibitors and companies alike in this 3-day marine industry based event!</p>
          </div>
          <div class="col-md-5 my-auto">
            <img class="featurette-image img-fluid mx-auto" src="/assets/portfolio/news/expo1.png" >
          </div>
        </div>
      </div>
        
        <hr class="form-top-line col-md-4 col-centered"style="margin-top: 40px; margin-bottom: 40px;">

        <div class="container">
          <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">NEW STYLE, NEW LOOK, BETTER SERVICE! </h2>
            <p class="lead">The company has grown significantly through the years. The company expanded exponentially through different industries, fields of expertise and coverage. Nowadays, the company caters major projects from building, marine, industrial, and energy industries ranging from small-scale to large-scale project anywhere and anytime. From a local service provider to a worldwide multi-industry services and supply company!</p>
          </div>
          <div class="col-md-5 order-md-1 my-auto">
            <img class="featurette-image img-fluid mx-auto" src="/assets/portfolio/news/logo.jpg">
          </div>
        </div>
      </div>
        <hr class="form-top-line col-md-4 col-centered"style="margin-top: 40px; margin-bottom: 40px;">
        <div class="container">
        <div class="row featurette">
          <div class="col-md-7 my-auto">
            <h2 class="featurette-heading">Siemens WindPower Office (Brande Denmark)</h2>
            <p class="lead">InSpecIT Management set off to Siemens Denmark to join a Factory Acceptance Test(FAT) for the 18MW Bangui Ilocos Windmill Farm Project.</p>
          </div>
          <div class="col-md-5 ">
            <img class="featurette-image img-fluid mx-auto" src="/assets/portfolio/news/siemens.jpg" style="height:300px; margin-bottom: 10px;">
          </div>
        </div>
      </div>

    </section>



    <section id = "global" class="bg-light text-black" style=" min-height: 500px;">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 text-center text-primary">
            <h2 class="section-heading">Global Network</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center text-white">
            <div class="global-box-50 mt-5 mx-auto">
              <img class="img-fluid fa-4x mb-3" src="/assets/portfolio/global/sie.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center text-white">
            <div class="global-box-30 mt-5 mx-auto">
              <img class="img-fluid fa-4x mb-3" src="/assets/portfolio/global/bh.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center text-white">
            <div class="global-box-50 mt-5 mx-auto">
              <img class="img-fluid fa-4x mb-3" src="/assets/portfolio/global/inge.png" alt="">
            </div>
          </div>
          <div class="row">
          <div class="col-md-6 text-center text-white">
            <div class="global-box-30 mt-5 mx-auto">
              <img class="img-fluid fa-4x mb-3" src="/assets/portfolio/global/omni.png" alt="">
            </div>
          </div>
          <div class="col-md-6 text-center text-white">
            <div class="global-box-30 mt-5 mx-auto">
              <img class="img-fluid fa-4x mb-3" src="/assets/portfolio/global/rte.png" alt="">
            </div>
          </div>
        </div>
    </section>

    <section id="contact" >
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center text-white">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center text-primary">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>(02) 584-7299</p>
          </div>
          <div class="col-lg-4 mr-auto text-center text-primary">
            <i class="fa fa-envelope fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:support@inspecit.com">support@inspecit.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    


    <p class="float-right" style="margin-right: 50px; margin-top: 50px;">
          <a class="js-scroll-trigger" href="#page-top">BACK TO TOP</a>
    </p>


    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script-->

    <!-- Plugin JavaScript -->
    <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script-->

    <!-- Custom scripts for this template -->
    <!--<script src="js/creative.min.js"></script--> 