<div id="particles-js"></div>
<title>InSpecIT Inc.</title>
<header class="masthead text-center text-white d-flex">
      
      <div class="container my-auto">

        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <label class ="unselectable">InSpecIT</label>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Automation Relies on Technology</p>
            <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-black">About Us</h2>
            <hr class="primary my-4">
            <p class="text-test mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center text-white">
            <h2 class="section-heading">Industries</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center text-white">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-ship text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Marine and Offshore</h3>
              <p class="text-muted mb-0 text-primary">Marine Info</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center text-white">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-building text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Building Management</h3>
              <p class="text-muted mb-0 text-primary">Building Management Info</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center text-white">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-cog text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Automation</h3>
              <p class="text-muted mb-0 text-primary">Automation Info</p>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-6 text-center text-white">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-sun text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Renewable</h3>
              <p class="text-muted mb-0 text-primary">Renewable Info</p>
            </div>
          </div>
          <div class="col-md-6 text-center text-white"> 
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-industry text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Industrial Power Plant</h3>
              <p class="text-muted mb-0 text-primary">Industrial Info</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="p-0" id="news">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">

          

          <div class="col-lg-4 col-sm-6">

            <a class="portfolio-box" href="phil">
              <img class="img-fluid" src="/assets/portfolio/thumbnails/1.jpg" alt="">

              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    News
                  </div>
                  <div class="project-name">
                    PhilMarine Expo 2018
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="/assets/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    News
                  </div>
                  <div class="project-name">
                    News Title
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="/assets/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    News
                  </div>
                  <div class="project-name">
                    News Title
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="/assets/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    News
                  </div>
                  <div class="project-name">
                    News Title
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="/assets/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    News
                  </div>
                  <div class="project-name">
                    News Title
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="/assets/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    News
                  </div>
                  <div class="project-name">
                    News Title
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id = "global" class="bg-light text-black">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 text-center text-primary">
            <h2 class="section-heading">Global Network</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center text-white">
            <div class="global-box-50 mt-5 mx-auto">
              <img class="img-fluid fa-4x mb-3" src="/assets/portfolio/global/sie.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center text-white">
            <div class="global-box-30 mt-5 mx-auto">
              <img class="img-fluid fa-4x mb-3" src="/assets/portfolio/global/bh.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center text-white">
            <div class="global-box-50 mt-5 mx-auto">
              <img class="img-fluid fa-4x mb-3" src="/assets/portfolio/global/inge.png" alt="">
            </div>
          </div>
          <div class="row">
          <div class="col-md-6 text-center text-white">
            <div class="global-box-30 mt-5 mx-auto">
              <img class="img-fluid fa-4x mb-3" src="/assets/portfolio/global/omni.png" alt="">
            </div>
          </div>
          <div class="col-md-6 text-center text-white">
            <div class="global-box-30 mt-5 mx-auto">
              <img class="img-fluid fa-4x mb-3" src="/assets/portfolio/global/rte.png" alt="">
            </div>
          </div>
        </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center text-white">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center text-primary">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center text-primary">
            <i class="fa fa-envelope fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:support@inspecit.com">support@inspecit.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script-->

    <!-- Plugin JavaScript -->
    <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script-->

    <!-- Custom scripts for this template -->
    <!--<script src="js/creative.min.js"></script--> 