<!-- Footer -->
	<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->

	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>QUICK LINKS</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="home"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="about"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="services"><i class="fa fa-angle-double-right"></i>Services</a></li>
						<li><a href="services#proj"><i class="fa fa-angle-double-right"></i>Project Involvements</a></li>
						<li><a href="news"><i class="fa fa-angle-double-right"></i>News</a></li>
						<li><a href="contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>RESOURCES</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
						<li><a href="sitemap"><i class="fa fa-angle-double-right"></i>Site Map</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>CONTACT US</h5>
					<ul class="list-unstyled quick-links text-white">
						<p>General Inquiries: <br>(02) 584-7299</br></p><br></br>
						<li><a href="signin"><i class="fa fa-4x fa-user"></i><strong>EMPLOYEES LOGIN</strong></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/INSPECIT.INC/"><i class="fa fa-facebook " style="color: #3B5998;"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>10th Floor, Unit 1005, City & Land MegaPlaza, ADB Ave.,
Corner Garnet Road Ortigas Center, Pasig City</p>
					<p class="h6">Copyright &copy; InSpecIT Inc. 2018</p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->





<!--section class = "foot bg-black">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center text-white">
              <p class="text-muted mb-0">Quick Links</p>
              	<br><a class="q-link" href="about">ABOUT</a></br>
              	<br><a class="q-link" href="services">SERVICES</a></br>
              	<a class="q-link" href="projects">PROJECT INVOLVEMENTS</a>
              	<a class="q-link" href="services">NEWS</a>
              	<a class="q-link" href="services">CONTACT</a>
            </div>
          <div class="col-lg-3 col-md-6 text-center text-white">
              <p class="text-muted mb-0 ">Resources</p>
            </div>

          <div class="col-lg-6 col-md-6 text-center text-white">
              <a class="btn btn-light btn-xl js-scroll-trigger" style="margin-top: 70px;" href="#page-top">Back to Top</a>
            </div>
        </div>
  	  </div>
    
</section>
    
    <div class="footer <%= @position||"relative" %> bg-black">
        <div class="copy text-white" style="margin-top: 0px; margin-bottom: 0px; margin-left: 10px; height: 100px;">
            <p>Copyright &copy; Jaezon Sablay. 2018</p>
        </div>
    </div-->